body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

tr:hover {
  cursor: pointer;
}

tbody tr:hover {
  background-color: aquamarine !important;
}
