* {
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
}

:root {
  --highlight-color: #b4d7dd;
  --star-color: #f0b855;
  --text-color: #121212;
  --bg-form: #f7f8fa;
}

span {
  color: var(--text-color);
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

tr:hover {
  cursor: pointer;
}

.myHighlightClass {
  background-color: var(--highlight-color);
  padding: 1px 2px;
  font-weight: 600;
}
